SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "shape_everglades"."everglades_shape" (gid serial,
"id" float8,
"name" varchar(50),
"ha_id" int4);
ALTER TABLE "shape_everglades"."everglades_shape" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('shape_everglades','everglades_shape','geom','4326','MULTIPOLYGON',2);
CREATE INDEX ON "shape_everglades"."everglades_shape" USING GIST ("geom");
COMMIT;
ANALYZE "shape_everglades"."everglades_shape";
