SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "point_stations"."points_stations" (gid serial,
"coords" varchar(80),
"station" varchar(80));
ALTER TABLE "point_stations"."points_stations" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('point_stations','points_stations','geom','4326','POINT',2);
INSERT INTO "point_stations"."points_stations" ("coords","station",geom) VALUES ('lon','BCA10','0101000020E61000007BC04B371A621E411ECFD071A0B24541');
INSERT INTO "point_stations"."points_stations" ("coords","station",geom) VALUES ('lon','BCA20','0101000020E61000009D1EB97CB8EA1E41F48A230817B14541');
INSERT INTO "point_stations"."points_stations" ("coords","station",geom) VALUES ('lon','BCA9','0101000020E6100000333EBD12040E1F418BDC637BA1C04541');
CREATE INDEX ON "point_stations"."points_stations" USING GIST ("geom");
COMMIT;
ANALYZE "point_stations"."points_stations";
